<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Código</mat-label>
                    <input id="code"
                           autocomplete="off"
                           formControlName="code"
                           matInput
                           maxlength="20"
                           name="code"
                           placeholder="Código do produto"
                           type="text">
                    <mat-hint align="end">{{form.get('code').value.length}} / 20</mat-hint>
                    <mat-error *ngIf="form.get('code').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Nome</mat-label>
                    <input id="name"
                           autocomplete="off"
                           formControlName="name"
                           matInput
                           maxlength="100"
                           name="name"
                           placeholder="Nome do produto"
                           type="text">
                    <mat-hint align="end">{{form.get('name').value.length}} / 100</mat-hint>
                    <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Informações do produto</mat-label>
                    <textarea id="info"
                              autocomplete="off"
                              [style.min-height.em]="8"
                              formControlName="info"
                              matInput
                              maxlength="500"
                              name="info"
                              placeholder="Informações do produto">
                    </textarea>
                    <mat-hint align="end">{{form.get('info').value.length}} / 500</mat-hint>
                    <mat-error *ngIf="form.get('info').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="form-group flex">
                    <input id="image"
                           accept="image/png, image/jpeg"
                           (change)="handleFileSelect($event)"
                           class="form-control"
                           readonly
                           type="file">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="mt-05em"
                     *ngIf="!!form.get('image').value">
                    <img src="data:image/png;base64,{{form.get('image').value}}" />
                    <br />
                    <div class="mt-05em">
                        <button (click)="cleanImage()"
                                mat-stroked-button>
                            <span>Limpar imagem</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  class="mt-1em"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
