<app-page-header routeAdd="/{{pageForm()}}"
                 routeBack="/placeActCategory/{{idPlace}}"
                 title="{{pageTitle()}}">
</app-page-header>

<app-table [columns]="columns"
           fieldToShowMessage="placeActCategory.place.name, placeActCategory.actCategory.name, product.name"
           [pageForm]="pageForm()"
           [listOriginal]="listOriginal"
           (deleteItem)="deleteItem($event)">
</app-table>
