<app-page-header [optionButton]="phOptionButton"
                 routeBack="/register"
                 [title]="pageTitle()">
</app-page-header>

<app-table [columns]="columns"
           (deleteItem)="deleteItem($event)"
           fieldToShowMessage="cpf,name"
           [listOriginal]="listOriginal"
           [optionColumns]="optionColumns"
           [pageForm]="pageForm()">
</app-table>
