.page-footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 5px;
    min-height: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 3px;
}

.bt-page-footer-mr {
    margin-right: 1em;
}