<div class="page-footer">
    <button class="bt-page-footer-mr btn-plus-span"
            (click)="save()"
            [disabled]="!this.inputForm.valid"
            mat-stroked-button>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
    </button>
    <button (click)="cancel()"
            mat-stroked-button>
        <mat-icon>cancel</mat-icon>
        <span>Cancelar</span>
    </button>
</div>
