<div>
    <app-page-header title="Relatórios">
    </app-page-header>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <mat-nav-list>
                <a mat-list-item
                   id="{{item.id}}"
                   (click)="goToPage(item.route)"
                   *ngFor="let item of pageList">
                    <span>{{item.name}}</span>
                </a>
            </mat-nav-list>
        </div>
    </div>
</div>
