<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Empresa responsável</mat-label>
                    <input id="responsible"
                           autocomplete="off"
                           [formControl]="responsible"
                           matInput
                           name="responsible"
                           readonly
                           placeholder="Empresa responsável"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>CNPJ</mat-label>
                    <input id="cnpj"
                           autocomplete="off"
                           formControlName="cnpj"
                           mask="000.000.000/0000-00"
                           matInput
                           name="cnpj"
                           placeholder="CNPJ da empresa"
                           type="text">
                    <mat-error *ngIf="form.get('cnpj').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Nome</mat-label>
                    <input id="name"
                           autocomplete="off"
                           formControlName="name"
                           matInput
                           maxlength="100"
                           name="name"
                           placeholder="Nome da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('name').value.length}} / 100</mat-hint>
                    <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>DDD</mat-label>
                    <input id="phone_ddd"
                           autocomplete="off"
                           formControlName="phone_ddd"
                           matInput
                           maxlength="2"
                           name="phone_ddd"
                           placeholder="DDD"
                           step="1"
                           type="number">
                    <mat-error *ngIf="form.get('phone_ddd').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Telefone</mat-label>
                    <input id="phone"
                           autocomplete="off"
                           formControlName="phone"
                           mask="0000-0000||00000-0000"
                           matInput
                           name="phone"
                           placeholder="Telefone"
                           type="text">
                    <mat-error *ngIf="form.get('phone').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Endereço</mat-label>
                    <input id="address"
                           autocomplete="off"
                           formControlName="address"
                           matInput
                           maxlength="254"
                           name="address"
                           placeholder="Endereço da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('address').value.length}} / 254</mat-hint>
                    <mat-error *ngIf="form.get('address').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Bairro</mat-label>
                    <input id="district"
                           autocomplete="off"
                           formControlName="district"
                           matInput
                           maxlength="254"
                           name="district"
                           placeholder="Bairro da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('district').value.length}} / 254</mat-hint>
                    <mat-error *ngIf="form.get('district').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>CEP</mat-label>
                    <input id="zip_code"
                           autocomplete="off"
                           formControlName="zip_code"
                           matInput
                           maxlength="15"
                           name="zip_code"
                           placeholder="CEP da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('zip_code').value.length}} / 15</mat-hint>
                    <mat-error *ngIf="form.get('zip_code').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Cidade</mat-label>
                    <input id="city"
                           autocomplete="off"
                           formControlName="city"
                           matInput
                           maxlength="50"
                           name="city"
                           placeholder="Cidade da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('city').value.length}} / 50</mat-hint>
                    <mat-error *ngIf="form.get('city').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Estado (Sigla)</mat-label>
                    <input id="state"
                           #state
                           autocomplete="off"
                           formControlName="state"
                           matInput
                           maxlength="3"
                           name="state"
                           placeholder="Sigla do estado da empresa"
                           type="text"
                           [value]="state.value.toUpperCase()">
                    <mat-hint align="end">{{form.get('state').value.length}} / 3</mat-hint>
                    <mat-error *ngIf="form.get('state').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>País</mat-label>
                    <input id="country"
                           autocomplete="off"
                           formControlName="country"
                           matInput
                           maxlength="50"
                           name="country"
                           placeholder="País da empresa"
                           type="text">
                    <mat-hint align="end">{{form.get('country').value.length}} / 50</mat-hint>
                    <mat-error *ngIf="form.get('country').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row"
             *ngIf="!!isOwner">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Qtd. usuários para empresa</mat-label>
                    <input id="qtt_users"
                           autocomplete="off"
                           formControlName="qtt_users"
                           matInput
                           max="3"
                           min="0"
                           name="qtt_users"
                           placeholder="Qtd. usuários para empresa"
                           step="1"
                           type="number">
                    <mat-error *ngIf="form.get('qtt_users').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Qtd. empresas filhas</mat-label>
                    <input id="qtt_child"
                           autocomplete="off"
                           formControlName="qtt_child"
                           matInput
                           max="3"
                           min="0"
                           name="qtt_child"
                           placeholder="Quantidade de empresas"
                           step="1"
                           type="number">
                    <mat-error *ngIf="form.get('qtt_child').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Qtd. usuários p/cada empresa filha</mat-label>
                    <input id="qtt_users_child"
                           autocomplete="off"
                           formControlName="qtt_users_child"
                           matInput
                           max="3"
                           min="0"
                           name="qtt_users_child"
                           placeholder="Qtd. usuários p/cada empresa filha"
                           step="1"
                           type="number">
                    <mat-error *ngIf="form.get('qtt_users_child').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="form-group flex">
                    <input id="image"
                           accept="image/png, image/jpeg"
                           (change)="handleFileSelect($event)"
                           class="form-control"
                           readonly
                           type="file">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="mt-05em"
                     *ngIf="!!form.get('image').value">
                    <img src="data:image/png;base64,{{form.get('image').value}}" />
                    <br />
                    <div class="mt-05em">
                        <button (click)="cleanImage()"
                                mat-stroked-button>
                            <span>Limpar imagem</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
