<app-page-header routeAdd="/{{pageForm()}}"
                 routeBack="/{{getRouteBack()}}"
                 title="{{pageTitle()}}">
</app-page-header>

<app-table [columns]="columns"
           fieldToShowMessage="owner_name,company_name,role_name,user_name"
           [pageForm]="pageForm()"
           [listOriginal]="listOriginal"
           (deleteItem)="deleteItem($event)">
</app-table>
