<h1 mat-dialog-title>Esqueci minha senha?</h1>
<div mat-dialog-content>
    <p>Informe o CPF para geração de uma nova senha de acesso</p>
    <mat-form-field appearance="fill"
                    class="form-field">
        <mat-label>CPF</mat-label>
        <input id="cpf"
               autocomplete="off"
               cdkFocusInitial
               [formControl]="cpf"
               matInput
               mask="000.000.000-00"
               name="cpf"
               placeholder="000.000.000-00"
               required
               type="text">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="cpf.hasError('required')">Este campo é obrigatório</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button
            (click)="cancel()">
        Cancelar
    </button>
    <button mat-stroked-button
            (click)="generate()"
            [disabled]="!cpf.value || !cpf.valid">
        Gerar nova senha de acesso
    </button>
</div>
