<div class="page-login">
    <div class="row">
        <mat-card class="card">
            <div class="row title">
                <span>Insetimax</span>
            </div>
            <div class="row subtitle">
                <span>Painel administrativo</span>
            </div>
            <div class="row user">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>CPF</mat-label>
                    <input id="cpf"
                           autocomplete="off"
                           [formControl]="cpf"
                           matInput
                           mask="000.000.000-00"
                           name="cpf"
                           placeholder="000.000.000-00"
                           required
                           type="text">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="cpf.hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="row password">
                <mat-form-field appearance="fill"
                                autofilled="false">
                    <mat-label>Senha</mat-label>
                    <input id="password"
                           [formControl]="password"
                           matInput
                           name="password"
                           placeholder="Digite a senha"
                           required
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon (click)="hide = !hide"
                              matSuffix>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="password.hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="row row-login">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="forgot-password">
                        <a class="pointer"
                           (click)="forgotPassword()">
                            Esqueci minha senha?
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="button-login">
                        <button (click)="login()"
                                mat-stroked-button>
                            Logar
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
