:host {
    float: left;
    display: block;
    width: 100%;
}

::ng-deep .ngx-bar {
    height: 3px !important;
}

::ng-deep .ngx-spinner {
    width: 100%;

    .ngx-spinner-icon {
        margin: auto;
        margin-top: 5px;
    }
}