<div class="page-change-password">
    <div class="row">
        <mat-card class="card">
            <div class="row title">
                <span>Insetimax</span>
            </div>

            <div class="row subtitle">
                <span>Alteração de senha</span>
            </div>

            <div class="row username">
                <span>{{userCPF | mask: '000.000.000-00'}} - {{userName}}</span>
            </div>

            <div class="row password">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Senha</mat-label>
                    <input id="password"
                           [formControl]="password"
                           matInput
                           name="password"
                           placeholder="Digite a senha"
                           required
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon (click)="hide = !hide"
                              matSuffix>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="password.hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="row password">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Confirme a senha</mat-label>
                    <input id="password2"
                           [formControl]="password2"
                           matInput
                           name="password2"
                           placeholder="Confirme a senha digitada no campo anterior"
                           required
                           [type]="hide2 ? 'password' : 'text'">
                    <mat-icon (click)="hide2 = !hide2"
                              matSuffix>
                        {{hide2 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="password2.hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="row row-change-passowrd">
                <button (click)="changePassword()"
                        mat-stroked-button>
                    Alterar senha
                </button>
            </div>
        </mat-card>
    </div>
</div>
