.page-change-password {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 5em;
    height: 100%;
}

.card {
    border: 1px solid rgba(0, 0, 0, .1);
}

.title {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subtitle {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.username {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.password {
    width: 90%;
    margin: auto;
    text-align: center;
    // margin-top: 1em;
}

.row-change-passowrd {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 2em;
}