<app-progress-bar></app-progress-bar>

<div class="app-container"
     [class.app-is-mobile]="mobileQuery.matches"
     *ngIf="!showCleanPage()">
    <mat-toolbar class="app-toolbar-header">
        <mat-icon class="pointer"
                  (click)="snav.toggle()">
            menu
        </mat-icon>
        <h1 class="app-app-name">Painel administrativo</h1>
        <span class="spacer"></span>
        <mat-icon class="pointer"
                  [matMenuTriggerFor]="menu">
            person
        </mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    class="mat-menu-item-btn"
                    (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Sair</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav
                     class="app-sidenav-menu"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56"
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     opened="true">
            <mat-nav-list>
                <a mat-list-item
                   id="{{item.id}}"
                   (click)="goToPage(item.route)"
                   *ngFor="let item of fillerNav">
                    <mat-icon aria-hidden="false"
                              aria-label="{{item.name}}">
                        {{item.icon}}
                    </mat-icon>
                    <span class="item-list">{{item.name}}</span>
                    <span class="sidebar-selected"
                          *ngIf="item.id == sidebarMenu">
                    </span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="app-sidenav-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="app-toolbar-footer">
        <div class="app-toolbar-footer-font">
            <span>{{infoFooter}}</span>
        </div>
    </mat-toolbar>
</div>

<div *ngIf="!!showCleanPage()">
    <router-outlet></router-outlet>
</div>
