.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item-list {
    padding-left: 0.5em;
    padding-right: 1.5em;
    font-size: 1em;
}

.app-toolbar-header {
    height: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.app-toolbar-footer {
    height: 30px;
    border-top: 1px solid rgba(0, 0, 0, .1);

    .app-toolbar-footer-font {
        height: 100%;
        display: flex;
        font-size: 0.5em;
    }
}

.app-is-mobile {
    .app-toolbar-header {
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
    }

    .app-toolbar-footer {
        // display: none;
    }

    .app-sidenav-container {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }
}

.app-sidenav-menu {
    color: #515253 !important;
    background: #F8F8F8 !important;
}

.app-sidenav-content {
    padding: 1em;
}

h1.app-app-name {
    margin-left: 8px;
}

.app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.mat-menu-item-btn {
    font-size: 1em;
    height: 1em !important;
    display: flex;
    align-items: center;
}

.sidebar-selected {
    border-right: 3px solid rgba(0, 0, 0, 0.7);
    height: 100%;
    float: left;
    width: 100%;
}

::ng-deep .mat-list-base {
    min-width: 10em;
}

::ng-deep .mat-list-item-content {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 1em !important;
    margin-bottom: 2em !important;
}