<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <!-- ************************************************************************************************************ -->
        <!-- EDIT -->
        <!-- ************************************************************************************************************ -->
        <div *ngIf="!!isEdit">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <mat-form-field appearance="fill"
                                    class="form-field">
                        <mat-label>Empresa responsável</mat-label>
                        <input id="editUser_responsible"
                               autocomplete="off"
                               [formControl]="responsible"
                               matInput
                               name="responsible"
                               readonly
                               placeholder="Empresa"
                               type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <mat-form-field appearance="fill"
                                    class="form-field">
                        <mat-label>Usuário</mat-label>
                        <input id="editUser_user"
                               autocomplete="off"
                               formControlName="editUser_user"
                               matInput
                               name="editUser_user"
                               readonly
                               placeholder="Usuário"
                               type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <mat-form-field appearance="fill"
                                    class="form-field">
                        <mat-label>Função</mat-label>
                        <input id="editUser_role"
                               autocomplete="off"
                               formControlName="editUser_role"
                               matInput
                               name="editUser_role"
                               readonly
                               placeholder="Função"
                               type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <section>
                        <mat-checkbox id="editUser_active"
                                      formControlName="editUser_active"
                                      name="editUser_active">
                            Ativo
                        </mat-checkbox>
                    </section>
                </div>
            </div>
        </div>

        <!-- ************************************************************************************************************ -->
        <!-- SEARCH -->
        <!-- ************************************************************************************************************ -->
        <div *ngIf="!isEdit">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <mat-form-field appearance="fill"
                                    class="form-field">
                        <mat-label>Empresa responsável</mat-label>
                        <input id="responsible"
                               autocomplete="off"
                               [formControl]="responsible"
                               matInput
                               name="responsible"
                               readonly
                               placeholder="Empresa"
                               type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <mat-form-field appearance="fill"
                                    class="form-field">
                        <mat-label>CPF</mat-label>
                        <input id="cpfSearch"
                               [formControl]="cpfSearch"
                               matInput
                               mask="000.000.000-00"
                               name="cpfSearch"
                               placeholder="000.000.000-00"
                               autocomplete="off"
                               type="text">
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn-plus-span form-field"
                            (click)="searchCpf()"
                            [style.min-height.em]="4"
                            mat-stroked-button>
                        <mat-icon>search</mat-icon>
                        <span>Pesquisar</span>
                    </button>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2"
                     *ngIf="!cpfFound && !!cpfMessage">
                    <button class="btn-plus-span form-field"
                            (click)="createUser()"
                            [style.min-height.em]="4"
                            mat-stroked-button>
                        <mat-icon>person</mat-icon>
                        <span>Criar novo usuário</span>
                    </button>
                </div>
            </div>

            <div class="row"
                 *ngIf="!!cpfMessage">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span>{{cpfMessage}}</span>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12"
                     *ngIf="!!cpfMessageDet">
                    <span>{{cpfMessageDet}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr [ngClass]="{'no-margin-top' : !cpfMessage}" />
                </div>
            </div>

            <!-- ************************************************************************************************************ -->
            <!-- Existed USER -->
            <!-- ************************************************************************************************************ -->

            <div *ngIf="!!showFormExistUser">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>CPF</mat-label>
                            <input id="existUser_cpf"
                                   formControlName="existUser_cpf"
                                   matInput
                                   mask="000.000.000-00"
                                   name="existUser_cpf"
                                   readonly
                                   type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Nome</mat-label>
                            <input id="existUser_name"
                                   formControlName="existUser_name"
                                   matInput
                                   name="existUser_name"
                                   readonly
                                   type="text">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Usuário</mat-label>
                            <input id="existUser_username"
                                   formControlName="existUser_username"
                                   matInput
                                   name="existUser_username"
                                   readonly
                                   type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Email</mat-label>
                            <input id="existUser_email"
                                   formControlName="existUser_email"
                                   matInput
                                   name="existUser_email"
                                   readonly
                                   type="text">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Função</mat-label>
                            <select id="existUser_role"
                                    formControlName="existUser_role"
                                    matNativeControl
                                    name="existUser_role">
                                <option value=""
                                        selected>
                                </option>
                                <option *ngFor="let item of roleList"
                                        [value]="item.id">
                                    {{item.name}}
                                </option>
                            </select>
                            <mat-error *ngIf="form.get('existUser_role').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <section>
                            <mat-checkbox id="existUser_active"
                                          (change)="changeActive($event.checked)"
                                          formControlName="existUser_active"
                                          name="existUser_active">
                                Ativo
                            </mat-checkbox>
                        </section>
                    </div>
                </div>
            </div>

            <!-- ************************************************************************************************************ -->
            <!-- NEW USER -->
            <!-- ************************************************************************************************************ -->

            <div *ngIf="!!showFormNewUser">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>CPF</mat-label>
                            <input id="newUser_cpf"
                                   formControlName="newUser_cpf"
                                   matInput
                                   mask="000.000.000-00"
                                   name="newUser_cpf"
                                   readonly
                                   type="text">
                            <mat-error *ngIf="form.get('newUser_cpf').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Nome</mat-label>
                            <input id="newUser_name"
                                   formControlName="newUser_name"
                                   matInput
                                   maxlength="100"
                                   name="newUser_name"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_name').value.length}} / 100</mat-hint>
                            <mat-error *ngIf="form.get('newUser_name').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Usuário</mat-label>
                            <input id="newUser_username"
                                   formControlName="newUser_username"
                                   matInput
                                   maxlength="20"
                                   name="newUser_username"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_username').value.length}} / 20</mat-hint>
                            <mat-error *ngIf="form.get('newUser_username').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Email</mat-label>
                            <input id="newUser_email"
                                   formControlName="newUser_email"
                                   matInput
                                   maxlength="50"
                                   name="newUser_email"
                                   type="email">
                            <mat-hint align="end">{{form.get('newUser_email').value.length}} / 50</mat-hint>
                            <mat-error *ngIf="form.get('newUser_email').hasError('required')">Este campo é obrigatório</mat-error>
                            <mat-error *ngIf="form.get('newUser_email').hasError('email')">Formato de e-mail inválido</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>DDD</mat-label>
                            <input id="newUser_phone_ddd"
                                   autocomplete="off"
                                   formControlName="newUser_phone_ddd"
                                   matInput
                                   maxlength="2"
                                   name="newUser_phone_ddd"
                                   placeholder="DDD"
                                   step="1"
                                   type="number">
                            <mat-error *ngIf="form.get('newUser_phone_ddd').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Telefone</mat-label>
                            <input id="newUser_phone"
                                   autocomplete="off"
                                   formControlName="newUser_phone"
                                   mask="0000-0000||00000-0000"
                                   matInput
                                   name="newUser_phone"
                                   placeholder="Telefone"
                                   type="text">
                            <mat-error *ngIf="form.get('newUser_phone').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Endereço</mat-label>
                            <input id="newUser_address"
                                   autocomplete="off"
                                   formControlName="newUser_address"
                                   matInput
                                   maxlength="254"
                                   name="newUser_address"
                                   placeholder="Endereço"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_address').value.length}} / 254</mat-hint>
                            <mat-error *ngIf="form.get('newUser_address').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Bairro</mat-label>
                            <input id="newUser_district"
                                   autocomplete="off"
                                   formControlName="newUser_district"
                                   matInput
                                   maxlength="254"
                                   name="newUser_district"
                                   placeholder="Bairro"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_district').value.length}} / 254</mat-hint>
                            <mat-error *ngIf="form.get('newUser_district').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>CEP</mat-label>
                            <input id="newUser_zip_code"
                                   autocomplete="off"
                                   formControlName="newUser_zip_code"
                                   matInput
                                   maxlength="15"
                                   name="newUser_zip_code"
                                   placeholder="CEP"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_zip_code').value.length}} / 15</mat-hint>
                            <mat-error *ngIf="form.get('newUser_zip_code').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Cidade</mat-label>
                            <input id="newUser_city"
                                   autocomplete="off"
                                   formControlName="newUser_city"
                                   matInput
                                   maxlength="50"
                                   name="newUser_city"
                                   placeholder="Cidade"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_city').value.length}} / 50</mat-hint>
                            <mat-error *ngIf="form.get('newUser_city').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Estado (Sigla)</mat-label>
                            <input id="newUser_state"
                                   #state
                                   autocomplete="off"
                                   formControlName="newUser_state"
                                   matInput
                                   maxlength="3"
                                   name="newUser_state"
                                   placeholder="Sigla do estado"
                                   type="text"
                                   [value]="state.value.toUpperCase()">
                            <mat-hint align="end">{{form.get('newUser_state').value.length}} / 3</mat-hint>
                            <mat-error *ngIf="form.get('newUser_state').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>País</mat-label>
                            <input id="newUser_country"
                                   autocomplete="off"
                                   formControlName="newUser_country"
                                   matInput
                                   maxlength="50"
                                   name="newUser_country"
                                   placeholder="País"
                                   type="text">
                            <mat-hint align="end">{{form.get('newUser_country').value.length}} / 50</mat-hint>
                            <mat-error *ngIf="form.get('newUser_country').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <mat-form-field appearance="fill"
                                        class="form-field">
                            <mat-label>Função</mat-label>
                            <select id="newUser_role"
                                    formControlName="newUser_role"
                                    matNativeControl
                                    name="newUser_role">
                                <option value=""
                                        selected>
                                </option>
                                <option *ngFor="let item of roleList"
                                        [value]="item.id">
                                    {{item.name}}
                                </option>
                            </select>
                            <mat-error *ngIf="form.get('newUser_role').hasError('required')">Este campo é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="form-group flex">
                            <input id="image"
                                   accept="image/png, image/jpeg"
                                   (change)="handleFileSelect($event)"
                                   class="form-control"
                                   readonly
                                   type="file">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="mt-05em"
                             *ngIf="!!form.get('newUser_image').value">
                            <img src="data:image/png;base64,{{form.get('newUser_image').value}}" />
                            <br />
                            <div class="mt-05em">
                                <button (click)="cleanImage()"
                                        mat-stroked-button>
                                    <span>Limpar imagem</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <section>
                            <mat-checkbox id="newUser_active"
                                          (change)="changeActive($event.checked)"
                                          formControlName="newUser_active"
                                          name="newUser_active">
                                Ativo
                            </mat-checkbox>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
