<app-page-header (clickOption)="clickOptionHeader($event)"
                 [optionButton]="optionButton"
                 routeAdd="/{{pageForm()}}"
                 routeBack="/company"
                 title="{{pageTitle()}}">
</app-page-header>

<app-table [columns]="columns"
           fieldToShowMessage="name"
           [optionColumns]="optionColumns"
           [pageForm]="pageForm()"
           [listOriginal]="listOriginal"
           (deleteItem)="deleteItem($event)"
           (clickOption)="clickOption($event)">
</app-table>

<div id="qrcode-layout"
     [ngStyle]="{'display': 'none'}">

    <img id="layout"
         src="./../../../../assets/images/layout_qrcode.svg">

    <div *ngFor="let item of listOriginal">
        <ngx-qrcode id="qrcode-{{item.id}}"
                    elementType="img"
                    [value]="item.qr_code">
        </ngx-qrcode>
    </div>
</div>
