<app-page-header routeBack="/report"
                 title="{{pageTitle()}}">
</app-page-header>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true"
                                 (opened)="filterPanelOpenState = true"
                                 (closed)="filterPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filtros
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-lg-3">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Período</mat-label>
                                <select id="period"
                                        (change)="changePeriod()"
                                        formControlName="period"
                                        matNativeControl
                                        name="period">
                                    <option *ngFor="let item of periodList"
                                            [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                                <mat-error *ngIf="form.get('period').hasError('required')">Este campo é obrigatório</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12 col-lg-3">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Data*</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate
                                           formControlName="startTime"
                                           placeholder="Início"
                                           readonly>
                                    <input matEndDate
                                           formControlName="endTime"
                                           placeholder="Fim"
                                           readonly>
                                </mat-date-range-input>

                                <mat-datepicker-toggle matSuffix
                                                       [for]="picker">
                                </mat-datepicker-toggle>

                                <mat-date-range-picker #picker
                                                       disabled="false">
                                </mat-date-range-picker>

                                <mat-error *ngIf="form.controls.startTime.hasError('required') || form.controls.endTime.hasError('required')">Data início e fim são obrigatórias</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Empresa</mat-label>
                                <select id="company"
                                        (change)="changeCompany()"
                                        formControlName="company"
                                        matNativeControl
                                        name="company">
                                    <option value=""></option>
                                    <option *ngFor="let item of companyList"
                                            [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Lugar/Comodo</mat-label>
                                <select id="place"
                                        formControlName="place"
                                        matNativeControl
                                        name="place">
                                    <option value=""></option>
                                    <option *ngFor="let item of placeList"
                                            [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Operador</mat-label>
                                <select id="user"
                                        formControlName="user"
                                        matNativeControl
                                        name="user">
                                    <option value=""></option>
                                    <option *ngFor="let item of userList"
                                            [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <mat-form-field appearance="fill"
                                            class="form-field">
                                <mat-label>Atividade</mat-label>
                                <select id="actCategory"
                                        formControlName="actCategory"
                                        matNativeControl
                                        name="actCategory">
                                    <option value=""></option>
                                    <option *ngFor="let item of actCategoryList"
                                            [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="btn-plus-span"
                                    (click)="applyFilter()"
                                    mat-stroked-button
                                    [disabled]="this.form.status != 'VALID'"
                                    title="Pesquisar">
                                <mat-icon>search</mat-icon>
                                <span>Pesquisar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<br />

<app-table [columns]="columns"
           [hasActive]="false"
           [listOriginal]="listOriginal"
           [showActions]="false">
</app-table>
