<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>CPF</mat-label>
                    <input id="cpf"
                           formControlName="cpf"
                           matInput
                           mask="000.000.000-00"
                           name="cpf"
                           readonly
                           type="text">
                    <mat-error *ngIf="form.get('cpf').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Nome</mat-label>
                    <input id="name"
                           formControlName="name"
                           matInput
                           maxlength="100"
                           name="name"
                           type="text">
                    <mat-hint align="end">{{form.get('name').value.length}} / 100</mat-hint>
                    <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Usuário</mat-label>
                    <input id="username"
                           formControlName="username"
                           matInput
                           maxlength="20"
                           name="username"
                           type="text">
                    <mat-hint align="end">{{form.get('username').value.length}} / 20</mat-hint>
                    <mat-error *ngIf="form.get('username').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           formControlName="email"
                           matInput
                           maxlength="50"
                           name="email"
                           type="email">
                    <mat-hint align="end">{{form.get('email').value.length}} / 50</mat-hint>
                    <mat-error *ngIf="form.get('email').hasError('required')">Este campo é obrigatório</mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">Formato de e-mail inválido</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>DDD</mat-label>
                    <input id="phone_ddd"
                           autocomplete="off"
                           formControlName="phone_ddd"
                           matInput
                           maxlength="2"
                           name="phone_ddd"
                           placeholder="DDD"
                           step="1"
                           type="number">
                    <mat-error *ngIf="form.get('phone_ddd').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Telefone</mat-label>
                    <input id="phone"
                           autocomplete="off"
                           formControlName="phone"
                           mask="0000-0000||00000-0000"
                           matInput
                           name="phone"
                           placeholder="Telefone"
                           type="text">
                    <mat-error *ngIf="form.get('phone').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Endereço</mat-label>
                    <input id="address"
                           autocomplete="off"
                           formControlName="address"
                           matInput
                           maxlength="254"
                           name="address"
                           placeholder="Endereço"
                           type="text">
                    <mat-hint align="end">{{form.get('address').value.length}} / 254</mat-hint>
                    <mat-error *ngIf="form.get('address').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Bairro</mat-label>
                    <input id="district"
                           autocomplete="off"
                           formControlName="district"
                           matInput
                           maxlength="254"
                           name="district"
                           placeholder="Bairro"
                           type="text">
                    <mat-hint align="end">{{form.get('district').value.length}} / 254</mat-hint>
                    <mat-error *ngIf="form.get('district').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>CEP</mat-label>
                    <input id="zip_code"
                           autocomplete="off"
                           formControlName="zip_code"
                           matInput
                           maxlength="15"
                           name="zip_code"
                           placeholder="CEP"
                           type="text">
                    <mat-hint align="end">{{form.get('zip_code').value.length}} / 15</mat-hint>
                    <mat-error *ngIf="form.get('zip_code').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Cidade</mat-label>
                    <input id="city"
                           autocomplete="off"
                           formControlName="city"
                           matInput
                           maxlength="50"
                           name="city"
                           placeholder="Cidade"
                           type="text">
                    <mat-hint align="end">{{form.get('city').value.length}} / 50</mat-hint>
                    <mat-error *ngIf="form.get('city').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Estado (Sigla)</mat-label>
                    <input id="state"
                           #state
                           autocomplete="off"
                           formControlName="state"
                           matInput
                           maxlength="3"
                           name="state"
                           placeholder="Sigla do estado"
                           type="text"
                           [value]="state.value.toUpperCase()">
                    <mat-hint align="end">{{form.get('state').value.length}} / 3</mat-hint>
                    <mat-error *ngIf="form.get('state').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-10">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>País</mat-label>
                    <input id="country"
                           autocomplete="off"
                           formControlName="country"
                           matInput
                           maxlength="50"
                           name="country"
                           placeholder="País"
                           type="text">
                    <mat-hint align="end">{{form.get('country').value.length}} / 50</mat-hint>
                    <mat-error *ngIf="form.get('country').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="form-group flex">
                    <input id="image"
                           accept="image/png, image/jpeg"
                           (change)="handleFileSelect($event)"
                           class="form-control"
                           readonly
                           type="file">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="mt-05em"
                     *ngIf="!!form.get('image').value">
                    <img src="data:image/png;base64,{{form.get('image').value}}" />
                    <br />
                    <div class="mt-05em">
                        <button (click)="cleanImage()"
                                mat-stroked-button>
                            <span>Limpar imagem</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
