<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Empresa responsável</mat-label>
                    <input id="companyForm"
                           autocomplete="off"
                           [formControl]="companyForm"
                           matInput
                           name="companyForm"
                           readonly
                           placeholder="Empresa"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Lugar/Comodo</mat-label>
                    <input id="placeForm"
                           autocomplete="off"
                           [formControl]="placeForm"
                           matInput
                           name="placeForm"
                           readonly
                           placeholder="Lugar/Comodo"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field"
                                *ngIf="!isEdit">
                    <mat-label>Atividade</mat-label>
                    <select id="id_act_category"
                            formControlName="id_act_category"
                            matNativeControl
                            [disabled]="isEdit"
                            name="id_act_category">
                        <option value=""
                                selected>
                        </option>
                        <option *ngFor="let item of actCategoryList"
                                [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                    <mat-error *ngIf="form.get('id_act_category').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill"
                                class="form-field"
                                *ngIf="!!isEdit">
                    <mat-label>Atividade</mat-label>
                    <input id="actCategoryForm"
                           autocomplete="off"
                           [formControl]="actCategoryForm"
                           matInput
                           name="actCategoryForm"
                           readonly
                           placeholder="Atividade"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
