<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Empresa responsável</mat-label>
                    <input id="company"
                           autocomplete="off"
                           [formControl]="company"
                           matInput
                           name="company"
                           readonly
                           placeholder="Empresa"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Nome</mat-label>
                    <input id="name"
                           autocomplete="off"
                           formControlName="name"
                           matInput
                           maxlength="100"
                           name="name"
                           placeholder="Nome do lugar/comodo"
                           type="text">
                    <mat-hint align="end">{{form.get('name').value.length}} / 100</mat-hint>
                    <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Tamanho (m²)</mat-label>
                    <input id="size_m2"
                           autocomplete="off"
                           decimal="2"
                           formControlName="size_m2"
                           matInput
                           min="0"
                           name="size_m2"
                           placeholder="Tamanho em m² do lugar/comodo"
                           step="0.01"
                           type="number">
                    <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
