<div class="row mb">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="page-header">
            <div class="page-header-line">
                <span class="title">{{inputTitle}}</span>

                <span class="spacer"></span>

                <button class="btn-plus-span"
                        (click)="goToPage(inputRouteBack)"
                        mat-stroked-button
                        *ngIf="!!inputRouteBack"
                        title="Voltar para a tela anterior">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span>Voltar</span>
                </button>

                <div *ngIf="!!inputOptionButton && inputOptionButton.length > 0">
                    <button class="bt-page-header-ml"
                            (click)="clickOption(opt)"
                            mat-stroked-button
                            *ngFor="let opt of inputOptionButton"
                            title="{{opt.title}}">
                        <mat-icon>{{opt.icon}}</mat-icon>
                        <span>{{opt.title}}</span>
                    </button>
                </div>

                <button class="bt-page-header-ml"
                        (click)="goToPage(inputRouteAdd)"
                        mat-stroked-button
                        *ngIf="!!inputRouteAdd"
                        title="Adicionar um novo registro">
                    <mat-icon>add</mat-icon>
                    <span>Adicionar</span>
                </button>
            </div>
        </div>
    </div>
</div>
