.page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2px;
    min-height: 3em;
}

.page-header-line {
    display: flex;
    min-height: 2em;
}

.title {
    margin: auto;
    font-size: 1em;
}

.mb {
    margin-bottom: 1em;
}

.bt-page-header-ml {
    margin-left: 1em;
}