<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <mat-form-field appearance="fill"
                            class="form-field">
                <mat-label>Nome</mat-label>
                <input id="name"
                       autocomplete="off"
                       formControlName="name"
                       matInput
                       maxlength="100"
                       name="name"
                       placeholder="Nome da atividade"
                       type="text">
                <mat-hint align="end">{{form.get('name').value.length}} / 100</mat-hint>
                <mat-error *ngIf="form.get('name').hasError('required')">Este campo é obrigatório</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <section>
                <mat-checkbox id="active"
                              formControlName="active"
                              name="active">
                    Ativo
                </mat-checkbox>
            </section>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
