<form [formGroup]="form">
    <app-page-header [title]="title">
    </app-page-header>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Empresa responsável</mat-label>
                    <input id="companyForm"
                           autocomplete="off"
                           [formControl]="companyForm"
                           matInput
                           name="companyForm"
                           readonly
                           placeholder="Empresa"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Lugar/Comodo</mat-label>
                    <input id="placeForm"
                           autocomplete="off"
                           [formControl]="placeForm"
                           matInput
                           name="placeForm"
                           readonly
                           placeholder="Lugar/Comodo"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Atividade</mat-label>
                    <input id="actCategoryForm"
                           autocomplete="off"
                           [formControl]="actCategoryForm"
                           matInput
                           name="actCategoryForm"
                           readonly
                           placeholder="Atividade"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field"
                                *ngIf="!isEdit">
                    <mat-label>Produto</mat-label>
                    <select id="id_product"
                            formControlName="id_product"
                            matNativeControl
                            [disabled]="isEdit"
                            name="id_product">
                        <option value=""
                                selected>
                        </option>
                        <option *ngFor="let item of productList"
                                [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                    <mat-error *ngIf="form.get('id_product').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill"
                                class="form-field"
                                *ngIf="!!isEdit">
                    <mat-label>Produto</mat-label>
                    <input id="productForm"
                           autocomplete="off"
                           [formControl]="productForm"
                           matInput
                           name="productForm"
                           readonly
                           placeholder="Produto"
                           type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Modo de usar</mat-label>
                    <textarea id="info_use"
                              autocomplete="off"
                              [style.min-height.em]="8"
                              formControlName="info_use"
                              matInput
                              maxlength="500"
                              name="info_use"
                              placeholder="Modo de usar">
                </textarea>
                    <mat-hint align="end">{{form.get('info_use').value.length}} / 500</mat-hint>
                    <mat-error *ngIf="form.get('info_use').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-form-field appearance="fill"
                                class="form-field">
                    <mat-label>Observações</mat-label>
                    <textarea id="info"
                              autocomplete="off"
                              [style.min-height.em]="8"
                              formControlName="info"
                              matInput
                              maxlength="500"
                              name="info"
                              placeholder="Observações">
                </textarea>
                    <mat-hint align="end">{{form.get('info').value.length}} / 500</mat-hint>
                    <mat-error *ngIf="form.get('info').hasError('required')">Este campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <section>
                    <mat-checkbox id="active"
                                  formControlName="active"
                                  name="active">
                        Ativo
                    </mat-checkbox>
                </section>
            </div>
        </div>
    </div>

    <app-page-footer (cancel)="cancel()"
                     [form]="form"
                     (save)="save()">
    </app-page-footer>
</form>
