<app-page-header routeAdd="/{{pageForm()}}"
                 routeBack="/register"
                 title="{{pageTitle()}}">
</app-page-header>

<app-table [columns]="columns"
           fieldToShowMessage="name"
           [pageForm]="pageForm()"
           [listOriginal]="listOriginal"
           (deleteItem)="deleteItem($event)">
</app-table>
