/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #F8F8F8 !important;
    font-family: 'Open Sans' !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    color: #515253 !important;
    margin: 0;
}

.mat-menu-panel {
    min-height: 100% !important;
}

.spacer {
    flex: 1 1 auto;
}

.btn-plus-span {
    display: flex;
    align-items: center;
}

.form-field {
    width: 100%;
    padding-bottom: 1em;
}

.form-content {
    height: 100%;
    padding-bottom: 4em;
}


.mat-cell {
    font-size: 0.8em;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat-drawer-content::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.mat-drawer-content::-webkit-scrollbar-track {
    background: #EFEFEF;
    border-radius: 10px;
    cursor: pointer;
}

.mat-drawer-content::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 10px;
    cursor: pointer;
}

.mat-drawer-content::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
    cursor: pointer;
}


.mat-drawer-content::-webkit-scrollbar-track-piece:end {
    margin-bottom: 50px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: black;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    // NEW
    margin-bottom: 1em !important;
    background: #EFEFEF !important;
    height: 40px !important;
}

.pointer {
    cursor: pointer !important;
}

.mt-1em {
    margin-top: 1em;
}

.mt-05em {
    margin-top: 0.5em;
}