.qtt-row {
    display: flex;
}

.qtt-box {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.qtt-box-content {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    min-height: 10em;
    padding: 1em;
}

.qtt-box-content-title {
    font-size: 1.5em;
    // font-weight: bold;
    text-align: center;
    min-height: 2em;
}

.qtt-box-content-value {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

.dashboard-table {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.cleaning-report-title {
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 0.3em;
}

.cleaning-report-table {
    margin-top: 1em;
}