<div>
    <app-page-header title="Dashboard">
    </app-page-header>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 ">
            <div class="qtt-row">
                <div [class]="classBox"
                     *ngIf="!!isCompany">
                    <div class="qtt-box">
                        <div class="qtt-box-content">
                            <div class="row">
                                <div class="qtt-box-content-title">
                                    Qtd. Empresas
                                </div>
                            </div>
                            <div class="row">
                                <div class="qtt-box-content-value">
                                    {{qttCompany}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [class]="classBox"
                     *ngIf="!isCompany">
                    <div class="qtt-box">
                        <div class="qtt-box-content">
                            <div class="row">
                                <div class="qtt-box-content-title">
                                    Qtd. Empresas (Nivel 1)
                                </div>
                            </div>
                            <div class="row">
                                <div class="qtt-box-content-value">
                                    {{qttCompanyLevel1}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [class]="classBox"
                     *ngIf="!isCompany">
                    <div class="qtt-box">
                        <div class="qtt-box-content">
                            <div class="row">
                                <div class="qtt-box-content-title">
                                    Qtd. Empresas (Nivel 2)
                                </div>
                            </div>
                            <div class="row">
                                <div class="qtt-box-content-value">
                                    {{qttCompanyLevel2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [class]="classBox">
                    <div class="qtt-box">
                        <div class="qtt-box-content">
                            <div class="row">
                                <div class="qtt-box-content-title">
                                    Qtd. Operadores
                                </div>
                            </div>
                            <div class="row">
                                <div class="qtt-box-content-value">
                                    {{qttCleaner1 + qttCleaner2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [class]="classBox">
                    <div class="qtt-box">
                        <div class="qtt-box-content">
                            <div class="row">
                                <div class="qtt-box-content-title">
                                    Qtd. Administradores
                                </div>
                            </div>
                            <div class="row">
                                <div class="qtt-box-content-value">
                                    {{qttAdmin1 + qttAdmin2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 ">
            <div class="dashboard-table">
                <div class="cleaning-report-title">
                    Últimas 20 operações dos últimos 7 dias
                    <mat-icon class="pointer"
                              (click)="goToPage('cleaningReport')"
                              title="Clique aqui para navegar até a tela de relatório de operação">
                        launch
                    </mat-icon>
                </div>
                <div class="cleaning-report-table">
                    <app-table [columns]="cleaningReportListColumns"
                               [hasActive]="false"
                               [listOriginal]="cleaningReportList"
                               [showActions]="false">
                    </app-table>
                </div>
            </div>
        </div>
    </div>
</div>
