.mat-form-field {
    width: 100%;
    font-size: 0.8em;
}

table {
    width: 100%;
}

.red {
    color: red;
}

.mat-column-action {
    text-align: right;
}

.active-column-icon {
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 10px;
    }
}

.btn-margin-left {
    margin-left: 0.5em;
}