<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <mat-form-field>
            <mat-label>Filtrar dados da tabela</mat-label>
            <input matInput
                   (keyup)="applyFilter($event)"
                   #input>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="mat-elevation-z8">
            <table mat-table
                   [dataSource]="list">

                <div *ngFor="let col of inputColumns">
                    <ng-container [matColumnDef]="col.matColumnDef">
                        <div *ngIf="!col.isActive">
                            <th mat-header-cell
                                *matHeaderCellDef>
                                {{col.title}}
                            </th>
                            <td mat-cell
                                *matCellDef="let item">
                                <span *ngIf="!!col.mask">
                                    {{getItemValue(item, col) | mask: col.mask}}
                                </span>

                                <span *ngIf="!col.mask">
                                    <div innerHTML="{{getItemValue(item, col)}}"></div>
                                </span>
                            </td>
                        </div>

                        <div *ngIf="!!col.isActive">
                            <th mat-header-cell
                                *matHeaderCellDef>
                                <span class="active-column-icon">
                                    <mat-icon class="pointer"
                                              (click)="applyFilterActive()"
                                              title="Filtrar registros pela coluna Ativo">
                                        {{getFilterActiveIcon()}}
                                    </mat-icon>
                                    {{col.title}}
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let item">
                                <mat-icon [ngClass]="{'red': !item[col.attribute]}">
                                    {{!!item[col.attribute] ? 'check' : 'close'}}
                                </mat-icon>
                            </td>
                        </div>
                    </ng-container>
                </div>

                <ng-container matColumnDef="action"
                              *ngIf="!!inputShowActions"
                              stickyEnd>
                    <th mat-header-cell
                        *matHeaderCellDef>
                        Ações
                    </th>
                    <td mat-cell
                        *matCellDef="let item">
                        <mat-icon class="pointer"
                                  [matMenuTriggerFor]="optionColumn"
                                  *ngIf="!!inputOptionColumns && inputOptionColumns.length > 0"
                                  title="Opções">
                            settings
                        </mat-icon>
                        <mat-menu #optionColumn="matMenu">
                            <div *ngFor="let opt of inputOptionColumns">
                                <span mat-menu-item
                                      class="pointer"
                                      (click)="clickOption(opt, item)"
                                      [disabled]="!showOptionColumns(item, opt)"
                                      [title]="opt.title">
                                    {{opt.title}}
                                </span>
                            </div>
                        </mat-menu>

                        <mat-icon class="btn-margin-left pointer"
                                  (click)="edit(item.id)"
                                  title="Editar">
                            edit
                        </mat-icon>

                        <mat-icon class="btn-margin-left pointer"
                                  (click)="deleteItem(item)"
                                  title="Excluir">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="displayedColumns">
                </tr>

                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns;">
                </tr>

                <tr class="mat-row"
                    *matNoDataRow>
                    <td class="mat-cell"
                        [attr.colspan]="displayedColumns.length">
                        Nenhum registro encontrado {{!!input.value ? 'para o filtro "' + input.value + '"' : ''}}
                    </td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>
